.container {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  min-height: 460px;
  width: 70%;
  background-color: rgb(230, 230, 243);
}

body {
  background-color: bisque;
  font-family: "Fredoka One", cursive;
}

.title {
  font-size: 30px;
  text-shadow: 4px 2px 5px red;
  color: black;
  text-align: center;
}

.remain-guess {
  display: flex;
}

.remain-guess > h3 {
  margin: 5px;
}

.buttons > button {
}

.buttons > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.reset {
  cursor: pointer;
}

.img {
}

#one {
  display: none;
}

#two {
  display: none;
}

#three {
  display: none;
}

#four {
  display: none;
}

#five {
  display: none;
}

#six {
  display: none;
}

.hint {
  display: none;
}

.play-again {
  display: none;
}

.letter-holder {
  display: flex;
  justify-content: center;
  height: 10px;
  margin: 10px;
  width: 10px;
}

#secret-word {
}
