.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  /* border: 1px solid black; */
  min-height: 300px;
  width: 50%;
  /* background: linear-gradient(to right, #8b8d97d2, #ffffffc4); */
}

body {
  background: linear-gradient(to right, #bd6868, #2012e2);
  font-family: "Gloria Hallelujah", cursive;
}

.buttons {
  text-align: center;
  padding: 7px;
  margin: 7px;
}

.buttons > button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffffdc;
  font-size: larger;
  background-color: transparent;
  padding: 5px;
  margin: 3px;
  border: 0.1em solid #ffffff;
}

.buttons > button:hover {
  transform: scale(1.2) perspective(1px);
  border: 0.1em solid #ffffff;
  color: #ffffff;
}

.buttons > button:disabled {
  transform: scale(0.7) perspective(1px);
  background: rgb(231, 230, 230);
  opacity: 10%;
  color: rgb(11, 11, 36);
}

.title {
  font-size: 30px;
  text-shadow: 4px 2px 5px red;
  color: black;
  text-align: center;
}

.hang-man {
  text-align: center;
  margin-top: 10px;
}

.reset {
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffffdc;
  font-size: 170%;
  background-color: transparent;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 0.1em solid #ffffff;
}

.reset:hover {
  transform: scale(1.2) perspective(1px);
  border: 0.1em solid #ffffff;
  color: #ffffff;
}

.hint {
  display: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffffdc;
  font-size: 170%;
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 0.1em solid #ffffff;
}

.hint:hover {
  transform: scale(1.2) perspective(1px);
  border: 0.1em solid #ffffff;
  color: #ffffff;
}
.img {
  margin: 0 auto;
  position: relative;
  left: 115px;
}

svg {
  margin: 0 auto;
}

/* #sev { 
  margin: 0 auto;
}
#one {
  display: none;
  margin: 0 auto;
  animation: fadeIn 2s;
} */

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #two {
  display: none;
  margin: 0 auto;
}

#three {
  display: none;
  margin: 0 auto;
}

#four {
  display: none;
  margin: 0 auto;
}

#five {
  display: none;
  margin: 0 auto;
}

#six {
  display: none;
  margin: 0 auto;
} */

.play-again {
  display: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffffdc;
  font-size: 170%;
  background-color: transparent;
  padding: 5px;
  margin: 0 auto;
  border: 0.1em solid #ffffff;
}

.play-again:hover {
  transform: scale(1.2) perspective(1px);
  border: 0.1em solid #ffffff;
  color: #ffffff;
}

.letter-holder {
  display: flex;
  justify-content: center;
  height: 10px;
  margin: 10px;
  width: 10px;
}

.word-holder {
  text-align: center;
  margin-bottom: 40px;
}

#secret-word {
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 4px;
}

.remain-guess {
  display: block;
  margin: 0 auto;
  color: #ffffffdc;
  font-size: 160%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding-left: 20px;
  animation: inflate 3s;
  animation-iteration-count: infinite;
}

@keyframes deflate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes inflate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.past-guesses {
  display: inline-block;
  margin: 0 auto;
  padding-left: 20px;
  margin: 10px;
  color: #ffffffdc;
  font-size: 160%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  animation: inflate 3s;
  animation-iteration-count: infinite;
}

.title {
  margin-top: 20px;
  color: #ffffff;
  font-size: 150%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h1 {
  margin: auto;
  color: #ffffff;
}

h4 {
  margin: auto;
  color: #ffffff;
}

#secret-word {
  color: #ff3131;
  font-size: 230%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.winner {
  color: #ffffffdc;
  font-size: 180%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  text-align: center;
  animation: fadeIn 2s;
  animation: deflate 3s;
  animation-iteration-count: infinite;
}

.hint-text {
  color: #ff3131;
  font-size: 170%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 60px;
  animation: fadeIn 2s;
}

@media only screen and (max-width: 500px) {
  h1 {
    display: none;
  }

  svg {
    width: 400px;
    height: 300px;
    position: relative;
    right: 40px;
  }
}
